/* --- Prelude --- */

* {
  box-sizing: border-box;
  margin: 0;
}
hr {
  outline: 0;
  border: solid #fa0;
}
a:hover {
  text-decoration: underline;
}
/* h6 {
  font: 300 1em sans-serif;
}
h5 {
  font: 300 1.2em sans-serif;
}
h3 {
  font: 300 2em sans-serif;
}
h4 {
  font: 300 1.5em sans-serif;
}
h2 {
  font: 300 2.2em sans-serif;
}
h1 {
  font: 300 2.5em sans-serif;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
} */
pre {
  overflow: auto;
}
td,
th {
  padding: 0.6em 1em;
  text-align: left;
  border-bottom: 1px solid #272727;
}
/* .btn {
  padding: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: 0 0;
  border: solid;
  font: 0.7em nunito;
} */

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;
  font-weight: 200;
  margin-top: 1.5rem;
  margin-bottom: 0;
  /* line-height: 1.5rem; */
  /* -webkit-font-smoothing: antialiased; */
}
h1 {
  font-size: 2.15rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.75rem;
  margin-top: 0;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

/*
a,
a:visited,
a:hover,
a:link {
  color: #789;
} */

table {
  border-collapse: collapse;
}

strong {
  font-weight: 500;
}

/* --- Custom styles --- */
html {
  /* Change default typefaces here */
  font-size: 18px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;
  /* Prevent font scaling on iOS in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
  /* --dark-bg-color: #15243b; */
  --dark-bg-color: #26487b;
  --light-text-color: white;
  --darker-text-color: #e1ebfb;
  --editor-bg-color: #1d1f21;
  --snippet-bg-color: #2e5186;
  --footer-bg-color: #2e5186;
}

@media (min-width: 35em) and (min-height: 28em) {
  html {
    font-size: 18px;
  }
}

body {
  /* background: #f7f7f7; */
  background: var(--dark-bg-color);
  /* color: #15243b; */
  color: var(--darker-text-color);
  font-weight: 300;
}

a {
  /* color: #fff; */
  color: var(--darker-text-color);
  text-decoration: none;
}

.titleHeaderWrap {
  /* background-color: #5ab3b3; */
  /* background: #15243b; */
  background: #26487b;
  padding: 1rem 0 0.5rem;
  /* border-bottom: 2px solid #264e4e; */
}

.titleHeader {
  margin: auto;
  max-width: 62rem;
  padding: 0 1rem;
  display: flex;
}

.title {
  /* font-weight: 500; */
  font-size: 1.75rem;
  flex: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titleLinks {
  /* font-weight: 500; */
  font-size: 1rem;
  padding: 0.8rem 0 0.2rem;
  color: var(--darker-text-color);
}

a.topLink {
}

.editorWrap {
  padding: 1rem 1rem 2rem;
  color: #fafafa;
  display: flex;
}

.editor {
  /* border: 2px solid #fc5a4f; */
  /* border: 2px solid #424242; */
  box-shadow: 0 10px 68px rgba(0, 0, 0, 0.55);
  margin: auto;
  /* max-width: 60rem; */
  /* background: #1b2b34;
  background: #fc5a4f; */
  background-color: var(--editor-bg-color);
  border-radius: 5px;
  z-index: 1000;
}
/*
div.ace-monokai {
  background-color: #fc5a4f;
}

div.editor .ace_keyword,
div.editor .ace_storage.ace_type {
  color: #ffcc8d;
}

div.editor .ace_constant.ace_numeric {
  color: #ffb5ff;
} */

.panes {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0.8rem;
}

.pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .code {
  flex: 1;
  overflow-y: scroll; */
/* color: #fafafa;
  color: #383a42; */
/* color: #15243b; */

pre {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.777777rem;
  -webkit-font-smoothing: auto;
  padding: 1rem;
  position: relative;
}

.snippet {
  border-radius: 5px;
  background-color: var(--snippet-bg-color);
  box-shadow: inset 0 0 60px var(--snippet-bg-color);
  position: relative;
  overflow: scroll;
}

.snippet:before {
  content: '';
  display: block;
  box-shadow: inset 0 0 10px 10px var(--snippet-bg-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

​ svg {
  fill: currentColor;
}

.editorPaneLabel {
  /* color: #5ab3b3;
  color: #ffc6c2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.editorFooter {
  display: none;
  justify-content: flex-end;
  padding: 0rem 0.5rem 0.2rem;
  color: #4e5358;
  font-size: 0.8rem;
}

.editorExamples {
  margin-right: 0.5rem;
}

.editorExamples a {
  margin-right: 4px;
  color: #4e5358;
  cursor: pointer;
}

.editorExamples a[data-active='true'] {
  color: #9cc4ff;
}

.editorActions {
}

.editorAction {
  cursor: pointer;
}

.editorAction:hover,
.editorExamples a:hover {
  color: #9cc4ff;
}

@media (min-width: 35em) and (min-height: 28em) {
  .editorFooter {
    display: flex;
  }
}

@media (min-width: 35em) {
  .panes {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.content {
  margin: auto;
  max-width: 62rem;
  padding: 0 1rem;
}

.subTitle {
  margin-top: 0;
}

.columns {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
}

.column {
  flex: 1;
  padding-top: 2rem;
}

@media (min-width: 35em) and (min-height: 28em) {
  .columns {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-bottom: 4rem;
  }

  .column {
    width: 50%;
  }

  .c-r {
    flex-direction: row-reverse;
  }

  .column:first-child {
    padding-right: 2rem;
  }

  .column:last-child {
    padding-left: 2rem;
  }

  .c-r .column:first-child {
    padding-right: 0;
    padding-left: 2rem;
  }
  .c-r .column:last-child {
    padding-right: 2rem;
    padding-left: 0;
  }
}

.c-k {
  color: #a626a9;
}

.centerColumn {
  max-width: 40rem;
  margin: 0 auto;
}

.footer {
  margin-top: 4rem;
  padding: 2rem 0 2rem;
  text-align: center;
  background-color: var(--footer-bg-color);
}
