* {
  box-sizing: border-box;
  margin: 0;
}
@media (min-width: 35em) {
  .col {
    display: table-cell;
  }
  .\31 {
    width: 5%;
  }
  .\33 {
    width: 22%;
  }
  .\34 {
    width: 30%;
  }
  .\35 {
    width: 40%;
  }
  .\32 {
    width: 15%;
  }
  .row {
    display: table;
    border-spacing: 1em 0;
  }
}
.row,
.w-100 {
  width: 100%;
}
.card:focus,
hr {
  outline: 0;
  border: solid #fa0;
}
.card,
pre {
}
.btn:hover {
  opacity: 0.6;
}
a:hover {
  text-decoration: underline;
}
/* h6 {
  font: 300 1em sans-serif;
}
h5 {
  font: 300 1.2em sans-serif;
}
h3 {
  font: 300 2em sans-serif;
}
h4 {
  font: 300 1.5em sans-serif;
}
h2 {
  font: 300 2.2em sans-serif;
}
h1 {
  font: 300 2.5em sans-serif;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
} */
a {
  color: #fff;
  text-decoration: none;
}
.btn.primary {
  color: #fff;
  background: #fa0;
  border: solid #fa0;
}
pre {
  overflow: auto;
}
td,
th {
  padding: 0.6em 1em;
  text-align: left;
  border-bottom: 1px solid #272727;
}
.btn {
  padding: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: 0 0;
  border: solid;
  font: 0.7em nunito;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 2rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.375rem;
  margin-top: 0;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

/*
a,
a:visited,
a:hover,
a:link {
  color: #789;
} */

table {
  border-collapse: collapse;
}

html {
  /* Change default typefaces here */
  font-size: 18px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #15243b;
}

.titleHeaderWrap {
  /* background-color: #5ab3b3; */
  /* background: #15243b; */
  background: #26487b;
  padding: 1rem 0 0.5rem;
  /* border-bottom: 2px solid #264e4e; */
}

.titleHeader {
  margin: auto;
  width: 60rem;
  display: flex;
  color: white;
}

.title {
  font-weight: 500;
  font-size: 1.75rem;
  flex: 1;
}

.titleLinks {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0 0.2rem;
}

a.topLink {
}

.editorWrap {
  background-color: #222;
  /* background: #15243b; */
  background: #26487b;
  padding: 1rem 0 2rem;
  color: #fafafa;
  display: flex;
}

.editor {
  /* border: 2px solid #fc5a4f; */
  /* border: 2px solid #424242; */
  box-shadow: 0 10px 68px rgba(0, 0, 0, 0.55);
  margin: auto;
  /* width: 60rem; */
  /* background: #1b2b34;
  background: #fc5a4f; */
  background: #1d1f21;
  border-radius: 5px;
  z-index: 1000;
}
/*
div.ace-monokai {
  background-color: #fc5a4f;
}

div.editor .ace_keyword,
div.editor .ace_storage.ace_type {
  color: #ffcc8d;
}

div.editor .ace_constant.ace_numeric {
  color: #ffb5ff;
} */

.panes {
  display: flex;
  padding: 1.5rem 1.5rem 0;
}

.pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .code {
  flex: 1;
  overflow-y: scroll; */
/* color: #fafafa;
  color: #383a42; */
/* color: #15243b; */

pre {
  font-family: Monaco, Consolas, monospace;
  font-size: 14px;
  -webkit-font-smoothing: auto;
}

svg {
  fill: currentColor;
}

.editorPaneLabel {
  /* color: #5ab3b3;
  color: #ffc6c2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.editorActions {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px 4px;
  color: #4e5358;
}

.editorAction {
  cursor: pointer;
}

.editorAction:hover {
  color: #9cc4ff;
}

.content {
  margin: auto;
  width: 60rem;
}

.subTitle {
}

.columns {
  display: flex;
  margin: 0 -2rem;
}

.column {
  flex: 1;
  padding: 2rem 2rem 0;
}

.c-k {
  color: #a626a9;
}
